{% macro footer() %}
<footer class=" bg-[#D9D9D9]">
	<div class="grid grid-cols-3">
	<div class="text-white content-center">
		<ul class="flex flex-col place-content-evenly justify-between gap-y-2 mx-40 m-12">
		<li>Home</li>
		<li>Portfolio</li>
		<li>About</li>
		<li>Contact</li>
		<li>Shop</li>
		</ul>
	</div>
	<div class="flex m-16 flex-col content-center text-center border rounded-full h-28 w-28 bg-white">
	</div>
	<div class=" m-12 flex flex-col text-white place-content-start">
		<p class="text-center"> Stay connected on Social Media</p>	
		<div class="grid grid-cols-3 m-5  justify-items-center">
		<div class="border border-lg w-12 h-12 bg-white"></div>
		<div class="border border-lg w-12 h-12 bg-white"></div>
		<div class="border border-lg w-12 h-12 bg-white"></div>
		</div>
	</div>
	</div>
</footer>
{% endmacro %}