{% extends "base.html" %}

{% block content %}
<main class="flex flex-row container">
	<div class="hidden lg:flex lg:flex-col absolute inset-y-0 lg:bg-paper h-full w-1/3 lg:items-end justify-center -z-10 overflow-visible ">
	  <div class="flex justify-center items-center pb-12 z-10">
		{% set image = resize_image(path='content/about/Shannan.jpg', height=468, width=348, op="fill") %}
		<img src="{{ image.url }}" />
	  </div>
	  <div class="absolute rounded-full bg-[#FFD8D9] left-1/4 bottom-36 w-48 h-48"></div>
	  <div class="absolute rounded-full bg-[#B2D7C5] left-5 top-1/4 w-24 h-24"></div>
	  <div class="absolute rounded-full bg-[#E6C92B] right-12 bottom-12 w-24 h-24"></div>
	  <div class="absolute h-full inset-y-0 -left-[1000px] w-[1000px] bg-paper">
		&nbsp;
	  </div>
	</div>
	
	<div class='flex flex-col lg:flex-row w-full'>
        <div class="lg:w-1/3 shrink-none">
          <!--         Empty div at large, filled with content when Small -->
          <div class="lg:hidden full-width text-4xl text-white h-32 ">
            <div class="text-[#606169] font-customAbril flex justify-center bg-hpaper items-center h-full">
              <p>HELLO  ALICE</p>
            </div>
        </div>
    </div>

	<div class="lg:w-2/3 text-[#606169] pt-12 pb-24 lg:pt-12 min-h-[100vh] ">
		<div class="flex  flex-col space-y-8my-5 py-4 px-12 md:px-20 lg:px-24 text-lg items-center">
			<p class="text-[40px] font-customAbril font-semibold py-6 justify-self-start">About Me!</p>
			<p class="font-customCairo text-[16px] md:mx-24">Hello! 
				My name is Shannon (actually not Alice- more on that later) and I am the artist behind Hello Alice! I live in northern Connecticut with my family and our adorable greyhound named Lucy. I'm a self proclaimed "doodler" and art lover who started Hello Alice in 2019 as a way to finally DO something with my little drawings. I'm also a queer (intersectional!) feminist who loves pattern and color, tchotchkes, being in the woods, books, tea, and hording art supplies in between investigating every local coffee shop I can find.<br> 
				I believe in kindness and empathy and care passionately about social justice. I enjoy making things that are cute and quirky but also have something to say. You can find all of these themes (and more) in my work.<br>
				
				Oh, and p.s.- The “Alice” in Hello Alice is my grandma! She was a pretty cool (and crafty) lady.<br>
				
				Thanks for being here! 
		
			</p>
	  		<div class="py-10 flex justify-center ">
	    		<a href="https://www.etsy.com/shop/HelloAliceShop?ref=seller-platform-mcnav" target="_blank" class=" my-5 py-4 md:px-20 px-10 lg:px-24 rounded-2xl border-4 border-[#DEC84E] hover:border-[#E6C92B] hover:border-8  font-customCabin text-[16px] md:text-[30px] text-[#DEC84E] hover:text-[#E6C92B] font-semibold italic"> SUPPORT MY SHOP</a>
	  		</div>
	  		<p class="md:text-[32px] text-[16px] font-customCabin italic  text-center">SOME STUFF I CARE ABOUT</p>
	  		<div class="py-10 gap-6 flex flex-col xl:flex-row justify-center">
	    		<a href="https://translifeline.org/" target="_blank" class="border font-customCabin py-2 px-3 border-[#B2D7C5] text-[#B2D7C5] hover:border-2 rounded-2xl md:text-[32px] text-16px] text-center">TRANSLIFELINE</a>
	    		<a href="https://www.sistersong.net/" target="_blank" class="border font-customCabin py-2 px-3 border-[#B2D7C5] text-[#B2D7C5] hover:border-2  rounded-2xl md:text-[32px]  text-[16px] text-center">SISTERSONG</a>
	    		<a href="https://diversebooks.org/" target="_blank" class="border font-customCabin py-2 px-3 border-[#B2D7C5] text-[#B2D7C5] hover:border-2  rounded-2xl md:text-[32px] text-[16px] text-center">DIVERSEBOOKS</a>
	  		</div>
		</div>
	</div>      
</main>

{% endblock content%}