{% import 'macros/header.html' as macros_header -%}
{% import 'macros/footer.html' as macros_footer -%}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
  <title>Hello Alice</title>
  <link rel="stylesheet" href="{{ get_url(path="styles/style.css") }}">
  <script src="https://unpkg.com/alpinejs" defer></script>
  <script>
    //contact form
    //entry.853001137=NAME&entry.956679658=NAME&entry.1587458589=EMAIL&entry.287059056=MESSAGE
    const FORM_URL =
    "https://docs.google.com/forms/d/e/1FAIpQLSd-XXpnX-geT2THLi_qyGK8xeqHeE6Vp8Z_Qc9NhbDSW8maTw/formResponse";
    const FIRST_NAME = "entry.853001137";
    const LAST_NAME = "entry.956679658";
    const EMAIL = "entry.1587458589";
    const MESSAGE = "entry.287059056";
    //newsletter form
    //entry.398708424=NAME&entry.1421180061=EMAIL
    //https://docs.google.com/forms/u/1/d/e/1FAIpQLSdyY2tyvQkY3h6aYIisxLVodSJVnDAtyFi6ZFuvERddFadZqQ/formResponse
    const NEWSFORM_URL = "https://docs.google.com/forms/u/1/d/e/1FAIpQLSdyY2tyvQkY3h6aYIisxLVodSJVnDAtyFi6ZFuvERddFadZqQ/formResponse";
    const NEWSFORM_NAME = "entry.398708424";
    const NEWSFORM_EMAIL = "entry.1421180061";
    function submitForm(formData) {
      console.log(
        `Received - firstname: ${formData.firstname}; lastname: ${formData.lastname}; email: ${formData.email}; message: ${formData.message}`
      );
      console.log("Preparing to submit data to the Google Form");

      // collecting all data into an object
      const formDetails = {};
      formDetails[FIRST_NAME] = formData.firstname;
      formDetails[LAST_NAME] = formData.lastname;
      formDetails[EMAIL] = formData.email;
      formDetails[MESSAGE] = formData.message;
      // convert the javascript formDetails object to URL string for POST request
      const formBodyString = new URLSearchParams(formDetails).toString();
      // uncomment to see the url encoded string
      console.log(formBodyString)

      // posting data to our google form
      fetch(FORM_URL, {
        method: "POST",
        headers: {
          "Content-Type": "application/x-www-form-urlencoded;charset=UTF-8",
        },
        mode: "no-cors",
        body: formBodyString,
      }).then(() => {
        console.log("Success!");
        // show message
        formData.showMessage = true;
        formData.firstname = '';
        formData.lastname = '';
        formData.email = '';
        formData.message = '';
          // remove message in 2 seconds
        setTimeout(() => formData.showMessage = false, 2000);
      });
    }

    function submitNewsForm(formData) {
      console.log(
        `Received - name: ${formData.name}; email: ${formData.email}`
      );
      console.log("Preparing to submit data to the Google Form");

      // collecting all data into an object
      const formDetails = {};
      formDetails[NEWSFORM_NAME] = formData.name;
      formDetails[NEWSFORM_EMAIL] = formData.email;
      // convert the javascript formDetails object to URL string for POST request
      const formBodyString = new URLSearchParams(formDetails).toString();
      // uncomment to see the url encoded string
      console.log(formBodyString)

      // posting data to our google form
      fetch(NEWSFORM_URL, {
        method: "POST",
        headers: {
          "Content-Type": "application/x-www-form-urlencoded;charset=UTF-8",
        },
        mode: "no-cors",
        body: formBodyString,
      }).then(() => {
        console.log("Success!");
        // show message
        formData.showMessage = true;
        formData.name = '';
        formData.email = '';
        // remove message in 2 seconds
        setTimeout(() => formData.showMessage = false, 2000);
      });
    }
  </script>
</head>

<body>

  <section>
    <div class="relative container mx-auto pt-8 overflow-visible">
      {% block header %}
        {{ macros_header::header() }}
      {% endblock header %}

      {% block content %} {% endblock %}
      
      {% block footer %}
        {{ macros_footer::footer() }}
      {% endblock footer %}
    </div>
  </section>

</body>

</html>