{% extends "base.html" %}

{% block content %}
<section class="prose">
	<main class="w-screen -ml-8 -my-8">
		<div class=" bg-[#D9D9D9] grid grid-cols-2 justify-between items-center">
			<div class=" p-20 flex flex-col">
				<p class="font-semibold pb-4 text-2xl ">How does this work?</p>
				<ul class="pb-20 gap-2 ">
					<li>1. Look through my commissions section to get familiar with my style</li>
					<li>2. Contact me with the form below with what you’re thinking - I’ll reach back out via email</li>
					<li>3. We’ll talk about your project and I’ll get you a quote!</li>
				</ul>
				<p class="pb-4 font-semibold text-2xl">Shop With Me On Faire</p>
				<ul>
					<li>Are you a retailer looking to purchase items for wholesale? Check me out on FAIRE</li>
				</ul>
			</div>
			<div class="place-content-center grid grid-cols-4 justify-between items-center ">
				
				<div class="py-28 col-start-2 col-span-2">
					<img src="https://via.placeholder.com/442x487.png">
				</div>
			</div>
			
		</div>
		<div class=" grid grid-cols-2 justify-between items-center">
			<div class="bg-[#D9D9D9] gap-6 flex flex-col justify-between place-content-center items-center">
				<div class="pt-56">
					<img src="https://via.placeholder.com/467x468.png" class="border rounded-full">
				</div>
				<p>interested in keeping up with the latest from Hello Alice?</p>
				<div class="pb-56">
					<div class="text-center self-center border font-cabin italic rounded-lg py-1 w-44 bg-white ">Subscribe to the Newsletter</div>
				</div>
			</div>
			<div class="grid px-24 grid-cols-2 gap-8 justify-between  items-center">
				<div class="col-span-2 px-2">CONTACT ME</div>
				<div class="px-3  py-2 bg-[#D9D9D9]">first Name</div>
				<div class="px-3 py-2 bg-[#D9D9D9]">last  Name</div>
				<div class="px-3 py-2 col-span-2 bg-[#D9D9D9]">email</div>
				<div class="px-3 py-2 pb-14 col-span-2  bg-[#D9D9D9]">
					<p>type message..</p>
				</div>
				<div class=" text-center bg-[#D9D9D9] border  w-44 p-3 ">Send</div>
			</div>
		</div>
	</main>
</section>
{% endblock content%}