{% extends "base.html" %}

{% block content %}
<section class="prose">
	<main class="w-screen -ml-8 -my-8">
		<div class=" bg-[#EAD490] grid grid-cols-2 justify-between items-center">
			<div class=" p-20 flex flex-col">
				<p class="font-semibold pb-4 text-2xl ">How does this work?</p>
				<ul class="pb-20 gap-2 ">
					<li>1. Look through my commissions section to get familiar with my style</li>
					<li>2. Contact me with the form below with what you’re thinking - I’ll reach back out via email</li>
					<li>3. We’ll talk about your project and I’ll get you a quote!</li>
				</ul>
				<p class="pb-4 font-semibold text-2xl">Shop With Me On Faire</p>
				<ul>
					<li>Are you a retailer looking to purchase items for wholesale? Check me out on FAIRE</li>
				</ul>
			</div>
			<div class="place-content-center grid grid-cols-4 justify-between items-center ">
				
				<div class="py-28 col-start-2 col-span-2">
					{% set image = resize_image(path='content/contact/BRB.jpg', height=180, width=160, op="fill") %}
       					<img src="{{ image.url }}" />
				</div>
			</div>
			
		</div>
		<div class=" grid grid-cols-2 justify-between items-center">
			<div class="bg-[#98CFB7] gap-6 flex flex-col justify-between place-content-center items-center">
				<div class="pt-56">
					{% set image = resize_image(path='content/contact/Resist.jpg', height=180, width=160, op="fill") %}
       					<img src="{{ image.url }}" />
				</div>
				<p class="font-customCabin italic text-[16px]">interested in keeping up with the latest from Hello Alice?</p>
				<div class="pb-56">
					<div class="text-center self-center py-1 w-44 font-customCabin italic text-[16px]"><a href="/newsletter/">Subscribe to the Newsletter</a></div>
				</div>
			</div>
			<div class="px-24 justify-between items-center">
				<section
				x-data="{
					firstname: '',
					lastname: '',
					email: '',
					message: '',
					showMessage: false
				}">

					<h2 class="px-2 text-[#DEC84E] font-customAbril">CONTACT ME</h2>
					<form class="grid grid-cols-2 gap-8"
					@submit.prevent="submitForm($data)">
						<label class="block px-3 py-2 border-2 border-[#DEC84E] rounded-lg">
							<span class="text-[#DEC84E] font-customCairo">First Name</span>
							<input type="text"
							class="form-input mt-1 block w-full rounded-lg"
							name="form-firstname"
							required
							x-model="firstname"
							placeholder=" Name"/>
						</label>
						<label class="block px-3 py-2 border-2 border-[#DEC84E] rounded-lg">
							<span class="text-[#DEC84E] font-customCairo">Last Name</span>
							<input type="text"
							class="form-input mt-1 block w-full rounded-lg"
							name="form-lastname"
							required
							x-model="lastname"
							placeholder=" Name"/>
						</label>
						<label class="block col-span-2 px-3 py-2 border-2 border-[#DEC84E] rounded-lg">
							<span class="text-[#DEC84E] font-customCairo">Email</span>
							<input type="text"
							class="form-input mt-1 block w-full rounded-lg"
							name="form-email"
							required
							x-model="email"
							placeholder=" Email"/>
						</label>
						<label class="block col-span-2 px-3 py-2 border-2 border-[#DEC84E] rounded-lg">
							<span class="text-[#DEC84E] font-customCairo">Message</span>
							<textarea
              				class="form-textarea mt-1 block w-full h-24 rounded-lg"
              				rows="3"
              				name="form-message"
              				required
              				x-model="message"
              				placeholder="type message.."
            				></textarea>
						</label>
						<div class="col-span-2 grid justify-items-center">
							<button class="border-2 border-[#98CFB7] hover:bg-[#D9D9D9] text-[#98CFB7] font-customCairo w-32 p-2 rounded-lg">Submit</button>
						</div>
					</form>
					
				</section>

				<!-- <div class="col-span-2 px-2">CONTACT ME</div>
				<div class="px-3  py-2 bg-[#D9D9D9]">first Name</div>
				<div class="px-3 py-2 bg-[#D9D9D9]">last  Name</div>
				<div class="px-3 py-2 col-span-2 bg-[#D9D9D9]">email</div>
				<div class="px-3 py-2 pb-14 col-span-2  bg-[#D9D9D9]">
					<p>type message..</p>
				</div>
				<div class=" text-center bg-[#D9D9D9] border  w-44 p-3 ">Send</div> -->
			</div>
		</div>
	</main>
</section>
{% endblock content%}