{% extends "base.html" %}

{% block content %}
<section class="prose">
      <main class="flex flex-row container w-screen -ml-28 -my-8">
        <div class="whitespace-nowrap flex flex-col bg-[#98CFB7] w-2/3 h-screen items-end justify-center z-10">
            <p class="tracking-wide leading-[150px] text-[150px] text-[#606169] font-customAbril -mt-16 -mr-44">HELLO <br>ALICE</p>
            <p class="tracking-wide text-2xl text-[#606169] font-semibold -mt-16 -mr-10 italic">Feminism + Crafts, Pins, Stickers, <br>and more!</p>
        </div>
        <div class="flex flex-col w-2/3 h-screen ml-36 -mr-24 justify-center items-center">
            <div class="grid grid-flow-dense grid-cols-3 mt-24 w-2/3 h-full">
                <div class="flex items-center justify-center bg-blue-200 rounded-tl-lg hover:border-2 hover:border-black active:bg-violet-200 active:text-white">1</div>
                <div class="flex items-center justify-center bg-blue-400 row-span-2 col-span-2 rounded-tr-lg hover:border-2 hover:border-black active:bg-violet-400 active:text-white">2</div>
                <div class="flex items-center justify-center bg-blue-300 hover:border-2 hover:border-black active:bg-violet-300 active:text-white">3</div>
                <div class="flex items-center justify-center bg-blue-500 row-span-2 rounded-bl-lg hover:border-2 hover:border-black active:bg-violet-500 active:text-white">4</div>
                <div class="flex items-center justify-center bg-blue-200 hover:border-2 hover:border-black active:bg-violet-200 active:text-white">5</div>
                <div class="flex items-center justify-center bg-blue-600 hover:border-2 hover:border-black active:bg-violet-600 active:text-white">6</div>
                <div class="flex items-center justify-center bg-blue-700 col-span-2 rounded-br-lg hover:border-2 hover:border-black active:bg-violet-700 active:text-white">7</div>
            </div>
            <div class=" my-5 py-4 lg:px-24 rounded-lg border-4 border-[#DEC84E] hover:border-[#E6C92B] text-2xl text-[#DEC84E] hover:text-[#E6C92B] font-semibold italic">
                Shop Featured
            </div>
            <br><br><br>
        </div>
    </main>
</section>
{% endblock content %}