{% extends "base.html" %}

{% block content %}
<section class="prose">
      <main class="flex flex-row container w-screen -ml-28 -my-8">
        <div class="whitespace-nowrap flex flex-col bg-emerald-200 w-2/3 h-screen items-end justify-center z-10">
            <p class="tracking-wide text-8xl text-gray-600 font-bold -mt-16 -mr-24">Hello <br> Alice</p>
            <p class="tracking-wide text-2xl text-gray-600 font-semibold -mt-16 -mr-56 italic">Feminism + Crafts, Pins, Stickers, <br>and more!</p>
        </div>
        <div class="flex flex-col w-2/3 h-screen justify-center items-center">
            <div class="grid grid-flow-dense grid-cols-3 mt-24 ml-32 w-1/2 h-2/3">
                <div class="flex items-center justify-center bg-blue-200 rounded-tl-lg hover:border-2 hover:border-black active:bg-violet-200 active:text-white">1</div>
                <div class="flex items-center justify-center bg-blue-400 row-span-2 col-span-2 rounded-tr-lg hover:border-2 hover:border-black active:bg-violet-400 active:text-white">2</div>
                <div class="flex items-center justify-center bg-blue-300 hover:border-2 hover:border-black active:bg-violet-300 active:text-white">3</div>
                <div class="flex items-center justify-center bg-blue-500 row-span-2 rounded-bl-lg hover:border-2 hover:border-black active:bg-violet-500 active:text-white">4</div>
                <div class="flex items-center justify-center bg-blue-200 hover:border-2 hover:border-black active:bg-violet-200 active:text-white">5</div>
                <div class="flex items-center justify-center bg-blue-600 hover:border-2 hover:border-black active:bg-violet-600 active:text-white">6</div>
                <div class="flex items-center justify-center bg-blue-700 col-span-2 rounded-br-lg hover:border-2 hover:border-black active:bg-violet-700 active:text-white">7</div>
            </div>
            <div class=" my-5 ml-32 py-4 px-24 rounded-lg bg-yellow-500 hover:bg-yellow-400 text-2xl text-white font-semibold italic active:border-black active:border-4 active:mt-3">
                Shop Featured
            </div>
        </div>
    </main>
</section>
{% endblock content %}