{% extends "base.html" %}

{% block content %}
<section class="justify-items-center">
	<main class="w-screen justify-items-center mb-10">
		<div class="grid grid-cols-1 gap-8 w-full justify-items-center ">
			<div class= "pt-20 flex flex-col leading-[20px] justify-between gap-8 items-center">
				<p class="font-customAbril text-[#98CFB7]  font-semibold text-2xl md:text-6xl">Subscribe to the Newsletter!</p>
				<p class="font-customCabin text-[12px] md:text-[16px] italic">Keep up with all things Hello Alice, such as shop updates, pop-up booths, and more!</p>
			</div>
			<section
			x-data="{
				name: '',
				email: '',
				showMessage: false
			}">
				<form class="grid grid-cols-1 md:grid-cols-4 gap-6"
				@submit.prevent="submitNewsForm($data)">
					<label class="block px-3 py-2 border-2 border-[#DEC84E] rounded-lg">
						<input type="text"
						class="form-input mt-1 block w-full rounded-lg"
						name="form-name"
						required
						x-model="name"
						placeholder=" Name"/>
					</label>
					<label class="block col-span-2 px-3 py-2 border-2 border-[#DEC84E] rounded-lg">
						<input type="text"
						class="form-input mt-1 block w-full rounded-lg"
						name="form-email"
						required
						x-model="email"
						placeholder=" Email"/>
					</label>
					<div class="grid justify-items-center">
						<button class="border-2 border-[#98CFB7] hover:bg-[#D9D9D9] text-[#98CFB7] italic  font-customCairo w-32 p-2 rounded-lg">SUBSCRIBE</button>
					</div>
				</form>
					
			</section>
		</div>
	</main>	
</section>
{% endblock content %}