{% extends "base.html" %}

{% block content %}
<section class="prose">
	<main>
		<div class= " pt-20 flex flex-col justify-between gap-8  items-center">
			<p class="text-6xl">Subscribe to the Newsletter</p>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed </p>
		</div>
		<div class=" mx-28 pb-56 py-20 gap-14 grid  content-center grid-cols-4">
			<div class=" bg-[#D9D9D9] p-2 ">name</div>
			<div class="col-span-2 bg-[#D9D9D9] p-2 ">email</div>
			<div class="bg-[#D9D9D9] p-2 ">subscribe</div>
		</div> 
	</main>	
</section>
{% endblock content %}