/* @layer base{
	html {
		@apply font-customCairo;
	}
} */
@import url('https://fonts.googleapis.com/css2?family=Cairo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cabin&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

@tailwind base;

@tailwind components;

@tailwind utilities;

/* @layer components{
	.active-link {
	    @apply text-base text-white font-semibold underline decoration-white underline-offset-4;
	}
	.inactive-link {
	    @apply text-base font-medium text-white hover:text-indigo-50;
	}
} */

@layer utilities {
    .full-width {
        left: 50%;
        margin-left: -50vw;
        margin-right: -50vw;
        max-width: 100vw;
        position: relative;
        right: 50%;
        width: 100 vw;
    }
}

